@use '../styles/variables' as *;

.titre-formulaire-connexion {
    margin-bottom: 10px;
}

.lien-aide {
    background: none;
    border: none;
    color: $c-accent;
    font-size: 0.8rem;
    text-decoration: underline;
    cursor: pointer;
    align-self: flex-start;
    margin-bottom: 8px;
}

.lien-aide:hover {
    color: darken($c-accent, 10%);
}