@use '../styles/variables' as *;

.modifier-infos {
    background: none;
    border: none;
    color: $c-accent;
    font-size: 0.9rem;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    align-self: center;
    padding: 0;
    margin-top: 10px;
}

.modifier-infos:hover {
    color: darken($c-accent, 10%);
}

.carte-mes-infos {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 30px;
}

.bouton-confirmer-info {
    display: block;
    margin: 10px auto 0 auto;
}