@use '../styles/variables' as *;

.compteur-mots {
    font-size: 0.85rem;
    color: $c-texte-secondaire;
    margin-bottom: 15px;
}

//  Carte d'affichage d'un mot 
.carte-mot {
    padding: 16px 10px;
    margin-bottom: 6px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: border-color 0.2s ease;
}

.carte-mot:hover {
    border-color: $c-accent;
}

.mot-entete {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.mot-badges {
    display: flex;
    align-items: center;
    gap: 2px;
}