@use '../styles/variables' as *;

.carte-mot {
    padding: 16px 20px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction:column;
    gap: 12px;
}

.mot-ligne {
    display: flex;
    align-items: center;
    gap: 15px;
}

.mot-label {
    flex-shrink: 0;
    width: 70px; // largeur fixe pour que tous les labels s'alignent verticalement entre eux
}

.mot-label {
    font-family: $font-principal;
    font-style: normal;
    font-size: 0.6rem;
    color: $c-texte-principal;
}

.mot-racine {
    font-family: $font-principal;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    color: $c-texte-principal;
}

.mot-formes {
    font-family: $font-principal;
    font-weight:400;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag-forme {
    background-color: $c-fond;
    border-radius: 8px;
    padding: 4px 10px;
    font-size: 0.85rem;
    color: $c-texte-secondaire;
}

.mot-traduction {
    font-family: $font-principal;
    font-size:1rem;
    font-style: italic;
    color: $c-texte-secondaire;
}

.mot-entete {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.mot-badges {
    display: flex;
    align-items: center;
    gap: 8px;
}

.badge-type {
    background-color: $c-fond;
    border: 1px solid $c-bordure-classique;
    border-radius: 6px;
    padding: 2px 8px;
    font-size: 0.8rem;
    font-weight: 600;
    color: $c-texte-secondaire;
}