@use '../styles/variables' as *;

.champ {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 10px;
    width: 100%;
}

.champ label {
    font-weight: 600;
    color: $c-texte-principal;
}

.champ input {
    padding: 10px 12px;
    border: 1px solid $c-bordure-classique;
    border-radius: 10px;
}



