$c-fond: #FAF6EC; // Background
$c-texte-principal: #1B2A4A;
$c-texte-secondaire: #6E7A93;
$c-accent: #B8801F; // Mise en avant d'un mot, bouton CTA, bouton filtre
$c-text-white: #FFFFFF;


// Encart classique fond blanc et bordure
$c-fond-classique: #FFFFFF;
$c-bordure-classique: #E4DCC6;

// Couleur catégorie
$c-corps-et-quotidien: #1E7FB8;
$c-sens-et-perception: #8A3FC7;
$c-communication: #3F9E6E;
$c-travail-et-etudes: #A88A00;

$c-reussi: #4CAF50;
$c-rate: #D9534F;

// Police d'écriture
$font-principal: 'Inter', sans-serif;
$font-secondaire: 'Fraunces', serif;



